<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nightwave Plaza - Online Vaporwave Radio</title>
  <meta name="description"
        content="Nightwave Plaza is an advertisement-free 24/7 radio station dedicated to Vaporwave; bringing aesthetics and dream-like music to your device wherever you have Internet connectivity.">
  <meta name="robots" content="index, follow">
  <meta name="author" content="plaza-san">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@nightwaveplaza">
  <meta name="twitter:title" content="Nightwave Plaza">
  <meta name="twitter:description"
        content="Nightwave Plaza is an advertisement-free 24/7 radio station dedicated to Vaporwave; bringing aesthetics and dream-like music to your device wherever you have Internet connectivity.">

  <meta property="og:type" content="music.radio_station">
  <meta property="og:title" content="Nightwave Plaza">
  <meta property="og:url" content="https://plaza.one">
  <meta property="og:image" content="https://plaza.one/icons/apple-touch-icon-180x180.png">

  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=7knqx0aR5k">
  <link rel="icon" type="image/png" href="/icons/favicon-32x32.png?v=7knqx0aR5k" sizes="32x32">
  <link rel="icon" type="image/png" href="/icons/favicon-16x16.png?v=7knqx0aR5k" sizes="16x16">
  <link rel="manifest" href="/icons/manifest.json?v=7knqx0aR5k">
  <link rel="shortcut icon" href="/icons/favicon.ico?v=7knqx0aR5k">
  <meta name="apple-mobile-web-app-title" content="Nightwave Plaza">
  <meta name="application-name" content="Nightwave Plaza">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png?v=7knqx0aR5k">
  <meta name="msapplication-config" content="/icons/browserconfig.xml?v=7knqx0aR5k">
  <meta name="theme-colcor" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="/css/dist.css?v=<%= process.env.version %>">
  <link rel="stylesheet" type="text/css" href="/css/app.css?v=<%= process.env.version %>">
</head>
<body>

<div id="app">
  <app></app>
</div>
<div class="fake-taskbar"></div>

<script src="/js/manifest.js?v=<%= process.env.version %>"></script>
<script src="/js/vendor.js?v=<%= process.env.version %>"></script>
<script src="/js/app.js?v=<%= process.env.version %>"></script>

</body>
</html>
